<%= form_for(@computadora) do |f| %>
  <% if @computadora.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@computadora.errors.count, "error") %> prohibited this computadora from being saved:</h2>

      <ul>
      <% @computadora.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :estado %><br />
    <%= f.check_box :estado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
